// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #0d6efd;
$secondary: #6c757d;
$success: #26be77;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;

:root {
  --editButton: #a7a3aa;
  --editButton2: #89878b;
  --editButton3: #5c5b5b;

  --addButton: #f1f1f2;
  --addButton2: #adadb1;
  --addButton3: #7d7d8a;

  --adminButtons1: #f17338;
  --adminButtons2: #b86229;
  --adminButtons3: #7c5221;

  --navbarColor1: #f15912;
  --navbarColor2: #b95512;
  --navbarColor3: #814d11;

  --legColor: rgb(212, 209, 255);
  --bellyColor: rgb(255, 217, 255);
  --chestColor: rgb(200, 255, 175);
  --shoulderColor: rgb(195, 255, 255);
  --armColor: rgb(255, 187, 187);
  --buttColor: rgb(177, 255, 235);
  --backColor: rgb(251, 255, 194);
  --neckColor: rgb(255, 216, 172);

  --selectedLegColor: rgb(0, 140, 255);
  --selectedBellyColor: rgb(255, 0, 128);
  --selectedChestColor: rgb(81, 255, 0);
  --selectedShoulderColor: rgb(0, 255, 255);
  --selectedArmColor: rgb(255, 81, 0);
  --selectedButtColor: rgb(183, 0, 255);
  --selectedBackColor: rgb(238, 255, 0);
  --selectedNeckColor: rgb(136, 255, 0);
}
// Style Classes
.header {
  background: linear-gradient(180deg, var(--navbarColor1) 0%, var(--navbarColor2) 88%, var(--navbarColor3) 97%);
  color: #000000;
}
.loginBtn {
  background: linear-gradient(180deg, var(--navbarColor1) 0%, var(--navbarColor2) 88%, var(--navbarColor3) 97%);
  border: hidden;
  border-radius: 5px;
  width: 70px;
  height: 33px;
}
.loginBtn:active {
  transform: scale(0.9);
}
.showbtn {
  background: linear-gradient(180deg, var(--navbarColor1) 0%, var(--navbarColor2) 88%, var(--navbarColor3) 97%);
}
.showbtn:active {
  transform: scale(0.9);
}
.editBtn {
  background: linear-gradient(180deg, var(--editButton) 0%, var(--editButton2) 85%, var(--editButton3) 100%);
}
.editBtn:active {
  transform: scale(0.9);
}
.addBtn {
  background: linear-gradient(180deg, var(--addButton) 0%, var(--addButton2) 85%, var(--addButton3) 100%);
}
.addBtn:active {
  transform: scale(0.9);
}
.shoulder {
  fill-opacity: 0.5 !important;
  fill: var(--selectedShoulderColor) !important;
  background-color: rgb(255, 255, 255) !important;
  color: var(--selectedShoulderColor) !important;
}
.neck {
  fill-opacity: 0.5 !important;
  fill: var(--selectedNeckColor) !important;
  background-color: rgb(255, 255, 255) !important;
  color: var(--selectedNeckColor) !important;
}
.chest {
  fill-opacity: 0.5 !important;
  fill: var(--selectedChestColor) !important;
  background-color: rgb(255, 255, 255) !important;
  color: var(--selectedChestColor) !important;
}
.back {
  fill-opacity: 0.5 !important;
  fill: var(--selectedBackColor) !important;
  background-color: rgb(255, 255, 255) !important;
  color: var(--selectedBackColor) !important;
}
.belly {
  fill-opacity: 0.5 !important;
  fill: var(--selectedBellyColor) !important;
  background-color: rgb(255, 255, 255) !important;
  color: var(--selectedBellyColor) !important;
}
.butt {
  fill-opacity: 0.5 !important;
  fill: var(--selectedButtColor) !important;
  background-color: rgb(255, 255, 255) !important;
  color: var(--selectedButtColor) !important;
}
.leg {
  fill-opacity: 0.5 !important;
  fill: var(--selectedLegColor) !important;
  background-color: rgb(255, 255, 255) !important;
  color: var(--selectedLegColor) !important;
}
.arm {
  fill-opacity: 0.5 !important;
  fill: var(--selectedArmColor) !important;
  background-color: rgb(255, 255, 255) !important;
  color: var(--selectedArmColor) !important;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@import '~bootstrap/scss/bootstrap';
