// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #0d6efd;
$secondary: #6c757d;
$success: #26be77;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;

:root {
  --exBtn: #26be77;
  --exBtn2: #229b62;
  --exBtn3: #187a4d;

  --editButton: #a7a3aa;
  --editButton2: #89878b;
  --editButton3: #5c5b5b;

  --addButton: #e2e2e2;
  --addButton2: #adadb1;
  --addButton3: #7d7d8a;

  --adminButtons1: #f17338;
  --adminButtons2: #b86229;
  --adminButtons3: #7c5221;

  --navbarColor1: #f15912;
  --navbarColor2: #bd5d1d;
  --navbarColor3: #814d11;

  --legColor: rgb(212, 209, 255);
  --bellyColor: rgb(255, 217, 255);
  --chestColor: rgb(200, 255, 175);
  --shoulderColor: rgb(195, 255, 255);
  --armColor: rgb(255, 187, 187);
  --buttColor: rgb(177, 255, 235);
  --backColor: rgb(251, 255, 194);
  --neckColor: rgb(255, 216, 172);

  --selectedLegColor: rgb(0, 140, 255);
  --selectedBellyColor: rgb(255, 0, 128);
  --selectedChestColor: rgb(81, 255, 0);
  --selectedShoulderColor: rgb(0, 255, 255);
  --selectedArmColor: rgb(255, 81, 0);
  --selectedButtColor: rgb(183, 0, 255);
  --selectedBackColor: rgb(155, 163, 34);
  --selectedNeckColor: rgb(136, 255, 0);
}
// Style Classes
.header {
  background: linear-gradient(180deg, var(--navbarColor1) 0%, var(--navbarColor2) 88%, var(--navbarColor3) 97%);
  color: #000000;
}
.loginBtn {
  background: linear-gradient(180deg, var(--navbarColor1) 0%, var(--navbarColor2) 88%, var(--navbarColor3) 97%);
  border: hidden;
  border-radius: 5px;
  width: 10vw;
  height: 4vh;
  margin: 2px;
}
.loginBtn:active {
  transform: scale(0.9);
}
.exBtn {
  background: linear-gradient(180deg, var(--exBtn) 0%, var(--exBtn2) 88%, var(--exBtn3) 97%);
}
.exBtn:active {
  transform: scale(0.9);
}
.showbtn {
  background: linear-gradient(180deg, var(--navbarColor1) 0%, var(--navbarColor2) 88%, var(--navbarColor3) 97%);
}
.showbtn:active {
  transform: scale(0.9);
}
.editBtn {
  background: linear-gradient(180deg, var(--editButton) 0%, var(--editButton2) 85%, var(--editButton3) 100%);
}
.editBtn:active {
  transform: scale(0.9);
}
.addBtn {
  background: linear-gradient(180deg, var(--addButton) 0%, var(--addButton2) 85%, var(--addButton3) 100%);
  border: hidden;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
}
.addBtn:active {
  transform: scale(0.9);
}
// mixin
@mixin muscles($muscle) {
  display: flex;
  fill-opacity: 0.5 !important;
  fill: $muscle !important;
  color: black !important;
  .thumbnailDiv {
    background-color: $muscle;
  }
}
.shoulder {
  @include muscles(var(--selectedShoulderColor));
}
.neck {
  @include muscles(var(--selectedNeckColor));
}
.chest {
  @include muscles(var(--selectedChestColor));
}
.back {
  @include muscles(var(--selectedBackColor));
}
.belly {
  @include muscles(var(--selectedBellyColor));
}
.butt {
  @include muscles(var(--selectedButtColor));
}
.leg {
  @include muscles(var(--selectedLegColor));
}
.arm {
  @include muscles(var(--selectedArmColor));
}
.carousel-item {
  transition: transform 0.3s ease, opacity 0.5s ease-out !important;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pointer {
  cursor: pointer;
}
.cursorDefault {
  cursor: default;
}
//material inputs
.input-contain {
  position: relative;
  input {
    height: 3.5rem;
    width: 100%;
    border: 2px solid black;
    border-radius: 1rem;
    .placeholder-text {
      font-size: 1.4rem; //input fontsize
      padding: 0 1.2rem;
    }
  }
  input:focus {
    outline: none;
    border-color: var(--navbarColor1);
    & + .placeholder-text .text {
      background-color: white;
      font-size: 1.1rem;
      transform: translate(0, -100%);
      border-color: var(--navbarColor1);
      color: var(--navbarColor1);
    }
  }

  .placeholder-text {
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    pointer-events: none;

    .text {
      font-size: 1.4rem; // placeholder
      padding: 0 0.5rem;
      margin: 0 1rem;
      transform: translate(0);
      transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out, color 0.15s ease-out;
    }
  }
  input:focus + .placeholder-text .text,
  input.dirty + .placeholder-text .text {
    background-color: white;
    font-size: 1.1rem;
    color: black;
    transform: translate(0, -100%);
  }
  input:focus + .placeholder-text .text {
    border-color: var(--navbarColor1);
    color: var(--navbarColor1);
  }
}

.textarea-contain {
  position: relative;
  textarea {
    height: 3.5rem;
    min-height: 3.5rem;
    width: 100%;
    border: 2px solid black;
    border-radius: 1rem;
    padding-top: 0.5rem;
    .placeholder-text {
      font-size: 1.4rem; //input fontsize
      padding: 1rem 1.2rem;
    }
  }

  textarea:focus {
    outline: none;
    border-color: var(--navbarColor1);
    & + .placeholder-text .text {
      background-color: white;
      font-size: 1.1rem;
      transform: translate(0, -50%);
      border-color: var(--navbarColor1);
      color: var(--navbarColor1);
    }
  }
  .placeholder-text {
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    pointer-events: none;

    .text {
      font-size: 1.4rem; // placeholder
      padding: 0 0.5rem;
      margin: 0.6rem 1rem;
      transform: translate(0);
      transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out, color 0.15s ease-out;
    }
  }
  textarea:focus + .placeholder-text .text,
  textarea.dirty + .placeholder-text .text {
    background-color: white;
    font-size: 1.1rem;
    color: black;
    transform: translate(0, -80%);
  }
  textarea:focus + .placeholder-text .text {
    border-color: var(--navbarColor1);
    color: var(--navbarColor1);
  }
  textarea + .placeholder-text {
    align-items: flex-start;
  }
}

.multiselect-contain {
  position: relative;
  .multiselect {
    height: 3.5rem;
    width: 100%;
    border: 2px solid black;
    border-radius: 1rem;
    .placeholder-text {
      font-size: 1.4rem; //input fontsize
      padding: 0 1.2rem;
    }
  }
  .multiselect:focus-within {
    outline: none;
    border-color: var(--navbarColor1);
    & + .placeholder-text .text {
      background-color: rgb(255, 255, 255);
      font-size: 1.1rem;
      transform: translate(0, -100%);
      border-color: var(--navbarColor1);
      color: var(--navbarColor1);
    }
  }
  .placeholder-text {
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    pointer-events: none;

    .text {
      font-size: 1.2rem; // placeholder
      padding: 0rem 0.5rem;
      margin: 0rem 1rem;
      transform: translate(0);
      transition: transform 0.15s ease-out, font-size 0.15s ease-out, background-color 0.2s ease-out, color 0.15s ease-out;
    }
  }
  .multiselect:focus + .placeholder-text .text,
  .multiselect.dirty + .placeholder-text .text {
    background-color: white;
    font-size: 1.1rem;
    color: black;
    transform: translate(0, -100%);
  }
  .multiselect:focus-within + .placeholder-text .text {
    border-color: var(--navbarColor1);
    color: var(--navbarColor1);
  }
}
.multiselect-search {
  background-color: rgba(255, 255, 255, 0);
}
.is-active {
  box-shadow: none !important;
}
@import '~bootstrap/scss/bootstrap';
